/*重置样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, input,fieldset, legend, img, div, section, figure,header,nav,main,footer { 
	margin:0; 
	padding:0; 
	box-sizing: border-box;
}
body{font-size:12px;}

fieldset, img{ border:none; }

em, i, b, strong,h1, h2, h3, h4, h5, h6{ 
	font-style:normal; 
	font-weight:normal; 
}

ul, ol { list-style:none; } 

a {text-decoration:none; }

/*头*/
header{
	width:100%;
	height:30px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #dddddd;
	.head{
		height: 29px;
		width: 1210px;
		margin:0 auto;
		font-size: 14px;
		line-height: 29px;
		span{
			color: #7c667c;
			float: left;
			a{
				color: #7c667c;
				padding-left:1px;
			}
		}
		.yonghu a{
			float:right;
			color: #7c667c;
			padding:0 6px;
		}
	}	
}
/*搜索栏*/
.search{
	.s_box{
		width: 1210px;
		height: 99px;
		margin: 0 auto;
		.s_l_logo{
			float: left;
			a{
				width: 441px;
				height: 99px;
				display: block;
				span{
					display: none;
				}
			}
			
		}
		.s_mid{
			height: 99px;
			float: left;
			margin-left: 40px;
			padding-top: 20px;
			form{
				height: 38px;
				.txt{
					width: 423px;
					height: 32px;
					border:none;
					outline: none;
					border:3px solid #2e488c;
					float: left;
				}
				.btn{
					float: left;
					height: 32px;
					width: 71px;
					border:none;
					background-color: #2e488c;
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
					cursor: pointer;
					font-size: 15px;
					color:white;
				}
			}
			p{
				margin-top: 12px;
				span{
					color: #666666;
				}
				a{
					padding-left: 7px;
					color:#666666;
					font-size: 14px;
				}
			}
		}
		.s_right{
			float: right;
			font-size: 0;
		}
	}
}
/*导航*/
nav{
	height: 42px;
	width: 100%;
	background-color: #1d5bb0;
	.nav_1{
		margin: 0 auto;
		height: 42px;
		width: 1210px;
		.n_l{
			width: 571px;
			height: 42px;
			font-size: 17px;
			float: left;
			p{
				float: left;
				width: 205px;
				line-height: 42px;
				text-align: center;
				color: white;
				position: relative;
				 background-color: #007b84;
			}
			ul>li{
				float:  left;
				padding: 0 20px;
				line-height: 42px;
				a{
					color: white;
				}
				&:nth-child(2){
					&:hover{
						background:#22b0ba;
					}
					ul{
						position: absolute;
						top: 171px;
						left: 314px;
						li{
							background-color: #11a0ba;
							float: left;
							display: none;
							}
						}
				}
		}
	}
		.carts{ 
			width: 256px;
			height: 42px;
			float: right; 
			background-color: #213468;
			span{
				color: white;
				display: inline-block;
				width: 187px;
				line-height: 42px;
				text-align: center;
				position: relative;
				img{
					position: absolute;
					top:10px;
					left:10px;
				}
				b{color:yellow;}

			}
			a{
				color: white;
				background-color: #4062a7;
				float: right;
				width: 59px;
				height: 27px;
				border-radius: 10px;
				text-align: center;
				line-height: 27px;
				margin-right:10px;
				margin-top:7px;
			}
		}
	}
}
/*banner*/
.banner{
	height: 455px;
	width: 1210px;
	margin: 0 auto;
	.left_nav{
		width: 206px;
		height: 455px;
		border:1px solid #dcdcdc;
		border-top:none;
		float: left;
	}
	.right_banner{
		width: 996px;
		height: 455px;
		float: left;
		.unslider{
			width: 988px;
			height: 447px;
			margin-left: 8px;
			margin-top: 8px;
			position: relative;
			ul li{
				display: none;
				&:nth-child(1){
					display: block;
				}
			}
			ol{
				width: 150px;
				height: 30px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				position: absolute;
				left:488px;
				bottom: 0px;
			 li{
				padding: 0 5px;
				border-radius: 50%;
				font-size: 15px;
				background-color: #4d374e;
				color: white;
				}
			}
		}
	}
}
